@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active .MuiTypography-root,
  .active .MuiListItemIcon-root {
    @apply !text-nav;
  }

  .active.super .MuiButtonBase-root {
    @apply !text-nav;
  }
  /* .active .MuiButtonBase-root {
    @apply !bg-nav;
  }
  .MuiButtonBase-root {
    @apply !text-nav;
  }
  .active:hover {
    @apply;
  } */
}
